@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* general styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
::selection{
    background-color: var(--orange);
}
:root {
    --orange: #ff511a;
    --blue: #212741;
    --green: #43ba7f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

input {
    font-family: 'Poppins', sans-serif;
    border:none;
}

button {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* general styles */
/* header */
.parent{
    background-image: url("../images/back.jpg");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width:100%;
}
header {
    background-color: #212741;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 160px;
    height: 60px;
    cursor: pointer;
}

nav ul {
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}

nav ul li a i {
    color: #fff;
    margin-left: 5px;
}

nav ul li a:hover,
i:hover {
    color: #ff511a;
}

.active {
    color: #ff511a;
}

ol {
    display: none;
    position: absolute;
    top: 60px;
    left: 43%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 200px;
    text-align: center;
}

nav ul li:hover ol {
    display: block;
    background-color: var(--blue);
}

nav ul li:hover ol li {
    display: block;
}

ol li {
    padding: 20px 0;
}

ol li a:hover {
    padding-right: 40px;
    transition: padding .5s linear;
}

.heading .btn {
    background-color: var(--green);
    padding: 10px 20px;
    border-radius: 10px;
}

.heading input {
    display: none;
}
.toggle {
    display: none;
}

@media(max-width:992px) {
    .heading .btn {
        display: none;
    }
}

@media(max-width:768px) {
    .heading  nav{
        display: block;
        position:absolute;
        top:80px;
        left:-800px;
        display: flex;
        flex-direction: column;
        align-items:center;
        width:100%;
        padding:40px 0;
        transition:left .4s ease-in-out;
        background-color: var(--blue);
    }
    .heading input[type="checkbox"]:checked + nav{
        left:0;
        transition:left .7s linear;
    }
    .heading  nav ul li{
        display: block;
    }
    .heading  nav ul li{
        position: relative;
    }
    ol{
        display: none;
        position:initial;
        top:initial;
        left:initial;
        padding:initial;
        margin: initial;
    }
    ol li{
        padding: initial;
        margin: initial;
    }
    .heading  nav ul li:hover ol{
        display: block;
    }
    .toggle {
        display: block;
        justify-content: flex-end;
        font-size: 40px;
        color: #fff;
        cursor: pointer;
    }
}
/* header */
/* title */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:100vh;
}
.content h1{
    color:#fff;
    text-transform: capitalize;
    font-size:60px;
    display: inline;
}
.content .h1 span{
    color:var(--orange);
    text-transform: capitalize;
    margin-right:10px;
}
.content hr{
    border:none;
    border-bottom:8px solid #fff;
    width:100px;
    border-radius: 10px;
    margin:40px 0 40px 0;
}
.content p{
    color:#fff;
    width:700px;
    margin:15px 0 40px 0;
}
.content input:first-child{
    background-color: var(--green);
    color:#fff;
    padding:10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    margin-right:10px;
    font-size: 15px;
}
.content input:last-child{
    background-color:var(--orange);
    color:#fff;
    padding:10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 15px;

}
@media(max-width:768px){
    .content{
        align-items: center;
    }
    .content h1{
        font-size: 40px;
    }
    .content p{
        width:100%;
        margin:10px auto 30px;
    }
}
/* title */
/* services */
.services{
    margin:10% 0;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}
.service-box{
    box-shadow: 0px 0px  15px rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    padding:40px; 
    gap:30px;
    border-radius:5px;
}
.service-box h2{
    margin-bottom: 10px;
}
.service-box i{
    font-size: 70px;
    color: var(--green);
}
.service-box:hover > i{
    transform: translateY(15px);
    transition:transform .6s linear;
}
@media(max-width:992px){
    .services-content{
        grid-template-columns: 1fr;
        place-items: center;
        padding:0 10%;
    }
}
@media(max-width:768px){
    .services-content{
        padding:0;
    }
}
/* services */
/* banner */
.banner{
    background-image: url(../images/back2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10% 0;
}
.banner-content .head h1{
    color:#fff;
    font-size:40px;
}
.banner-content .head strong{
    color:var(--green);
    margin-right:5px;
}
.banner-content .head span{
    color:var(--orange);
    margin-right:5px;
}
.button input:first-child{
    background-color: var(--green);
    color:#fff;
    padding:10px 30px;
    border-radius: 10px;
    text-transform: capitalize;
    margin-right:8px;
    font-size: 20px;
}
.button input:last-child{
    background-color:var(--orange);
    color:#fff;
    padding:10px 30px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 20px;
}
.button input:first-child:hover{
    color:rgba(255,255,255,0.7);
}
.button input:last-child:hover{
    color:rgba(255,255,255,0.7);
}
@media(max-width:992px){
    .banner-content{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .banner-content .head h1{
        font-size: 30px;
        margin-bottom:20px;
    }
    .button input:first-child{
        font-size: 15px;
        padding:5px 20px;
        cursor: pointer;
    }
    .button input:last-child{
        font-size: 15px;
        padding:5px 20px;
        cursor: pointer;
    }
    .button input:first-child:hover{
        color:rgba(255,255,255,0.7);
    }
    .button input:last-child:hover{
        color:rgba(255,255,255,0.7);
    }
}
/* banner */
/* about */
.about-content {
    margin:5% 0;
}
.about-content span{
    text-transform: uppercase;
    color:var(--orange);
    font-weight: 900;
    font-size:20px;
    text-align: center;
    display: block;
}
.about-content h1{
    font-size:45px;
    text-align: center;
    margin-bottom: 5%;
}
.title-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.title-head .links a{
    color:black;
    font-size:20px;
    font-weight:bold;
    background-color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    padding:10px 20px;
    margin:20px 10px;
}
.title-head .links a:first-child{
    color:var(--orange);
}
.title-head p{
    font-weight: bold;
    font-size: 20px;
    width:320px;
    text-align: left;
}
.grid{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap:6%;
}
.grid .para p{
    width:320px;
    text-align: left;
    margin-top:10px;
}
.grid .para input{
    border:none;
    background-color: var(--green);
    padding:10px 20px;
    font-size: 20px;
    color:#fff;
    margin-top:30px;
    border-radius: 5px;
}
.grid .para input:hover{
    opacity: .8;
}
.grid thead {
    text-align: left;
}
.grid tbody .wap{
    color: var(--green);
    font-weight: 600;
}
.grid table thead th{
    padding:20px 0 0 0;
}
.grid table tbody td{
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    padding:20px 0;
}
@media (max-width:992px) {
    .title-head{
        flex-direction: column;
        margin:5% 0;
    }
    .title-head .links{
        margin-bottom: 5%;
    }
    .grid{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .grid .para p{
        width:100%;
    }
    .grid .para input{
        width: 200px;
        margin:20px auto;
        display: block;
    }
}
@media(max-width:768px){
    .title-head .links a{
        font-size:15px;
    }
}
/* about */
/* banner-2 */
.banner-2{
    background-image: url('../images/back3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:10%;
}
.content-banner{
    display: flex;
    justify-content: space-between;
}
.content-banner img{
    margin-top:-3%;
    width: 100%;
}
.content-banner .form{
    width:100%;
    margin-top:5%;
    padding:0 5%;
}
.form span{
    display: block;
    color:var(--orange);
    padding:20px 0 0 0;
    font-weight: bold;
}
.form h1{
    color:#fff;
    font-size:40px;
    margin:10px 0 10% 0;
}
.form form .box {
    position:relative;
}
.form form .box label{
    color:#fff;
    position:absolute;
    top:-10px;
}
.form form .box input{
   padding:10px 20px;
   margin:30px 0;
   border-radius:5px;
   background-color: rgba(121,134,151, 0.7);
   width: 100%;
   outline: none;
   border: none;
   color:#fff;
   font-weight: 500;
}
.form form .box input[class="a"]{
    width: 49%;
}
.form form .box select{
    padding:10px 20px;
   margin:30px 0;
   border-radius:5px;
   background-color: rgba(121,134,151, 0.7);
   color:#fff;
   width: 100%;
   font-size: 15px;
   font-weight: 500;
}
.form form .box input[type="submit"]{
    background-color: var(--orange);
    color:#fff;
    width: fit-content;
}
@media(max-width:1200px){
    .content-banner{
        flex-direction: column;
        align-items: center;
    }
}
/* banner-2 */
/* testimonials */
.test-content{
    text-align: center;
    margin: 10% auto;
}
.test-content span{
    color:var(--orange);
    font-weight: bold;
    font-size: 20px;
}
.test-content h1{
    font-size: 45px;
    margin-bottom: 6%;
}
.test-box{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px  15px rgb(0 0 0 / 10%);
    text-align: initial;
    width:80%;
    margin: auto;
    border-radius: 10px;
}
.test-box .para{
    padding:30px;
}
.test-box .para i{
    background-color: var(--green);
    padding:10px 15px;
    color: #fff;
    font-size: 50px;
    border-radius:5px;
    width:74px;
}
.test-box .para p{
    font-style: italic;
    margin: 30px;
}
.test-box .para span{
    color:var(--green);
    font-size: initial;
}
.test-box  img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.test-content hr{
    border:none;
    background-color:var(--orange);
    opacity:.6;
    width:15px;
    height: 15px;
    display: inline-block;
    margin-right:  5px;
    border-radius:50%;
    margin-top:5%;
}
.test-content > .hr-1{
    opacity:1;
}
@media(max-width:992px){
    .test-box{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .test-box .para i{
        margin: auto;
        text-align: center;
        display:block;
    }
}
/* testimonials */
/* company */
.company{
    background-color: var(--blue);
    /* height: 50vh; */
    padding:5% 0;
}
.company-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    align-items: center;
}
@media(max-width:992px){
    .company-content{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        row-gap: 20%;
    }
}
@media(max-width:768px){
    .company-content{
        grid-template-columns: repeat(2, 1fr);
    }
    .company-content img:nth-child(5), :nth-child(6) {
        display: none;
    }
}
/* company */
/* footer */
footer{
    background-color: #181d30;
}
.content-footer{
    text-align: center;
    padding:3% 0;
}
.content-footer p{
    color:#fff;
}
.content-footer p span{
    color:var(--orange);
}
/* footer */